:root {
    --fg-1: #112024;
    --fg-2: #4898b7;
    --fg-3: #d8ddeb;
    --fg-4: #3d7d95;
    --fg-5: #5e686e;
    --fg-6: #f4f4f4;
    --fg-7: #1e1e1e;
    --fg-8: #191918;
}

.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: .01;
    z-index: 1000;
    pointer-events: none;
    background: url(../images/noise.gif);
}

main {
    color: var(--fg-6);
}

.cb-2 {
    gap: 5px 10px;
}

.fc {
    background-color: #4898b7;
    padding: 1rem;
    border-radius: 100%;

}

.padding-1 {
    padding: 5px 10px;
}

.gapping {
    gap: 10px;
}

.btn-2 {
    transition: opacity 1s ease 0s;
    opacity: 1;
    color: var(--fg-7);
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 5px;
    border: 2px solid #4898b7;
    background-color: transparent;
}

.btn-2:hover {
    opacity: 0.6;
}

.btn-1 {
    opacity: 1;
    transition: opacity 1s ease 0s;
    color: var(--fg-7);
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 5px;
    border: 2px solid #4898b7;
    background-color: var(--fg-2);
}

.btn-1:hover {
    opacity: 0.6;
}



.fg-1 {
    background-color: var(--fg-1);
}

.fg-2 {
    background-color: var(--fg-2);
}

.fg-3 {
    background-color: var(--fg-3);
}

.fg-4 {
    background-color: var(--fg-4);
}

.fg-5 {
    background-color: var(--fg-5);
}

.fg-6 {
    background-color: var(--fg-6);
}

.fg-7 {
    background-color: var(--fg-7);
}

.fg-8 {
    background-color: var(--fg-8);
}

/* tokenomics */
.grid-2 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    align-items: center;
    grid-template-areas:
      "t-1 t-2";
  }
  
  .t-1 { grid-area: t-1; }
  
  .t-2 { grid-area: t-2; }










/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1440px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1024px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .p-wrapper P {
        width: 100%;
    }

    .menu {
        gap: 1rem !important;
    }

    .www {
        padding: 0 1rem;
    }

}

@media only screen and (max-width: 900px) {
    .p-wrapper p {
        width: clamp(100%, 50%, 100%);
    }
}


@media only screen and (max-width: 560px) {

    nav {
        visibility: hidden;
        display: none !important;
        font-size: 0px;
        gap: 0;
    }


}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 425px) {

    .btn-1,
    .btn-2 {
        font-size: 16px;
    }




}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 320px) {
    .cta-button-3 {
        flex-direction: column !important;
        row-gap: 12px;
    }
}

@media only screen and (max-width: 375px) {}


/* loco */
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.has-scroll-smooth body {
    overflow: hidden
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh
}

[data-scroll-direction=horizontal] [data-scroll-container] {
    display: inline-block;
    height: 100vh;
    white-space: nowrap
}

[data-scroll-direction=horizontal] [data-scroll-section] {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    white-space: nowrap
}

.c-scrollbar {
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center right;
    transition: transform .3s, opacity .3s;
    width: 5px
}

.c-scrollbar:hover {
    transform: scaleX(1.45)
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
    opacity: 1
}

[data-scroll-direction=horizontal] .c-scrollbar {
    bottom: 0;
    height: 10px;
    top: auto;
    transform: scaleY(1);
    width: 100%
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
    transform: scaleY(1.3)
}

.c-scrollbar_thumb {
    background-color: #000;
    border-radius: 10px;
    cursor: -webkit-grab;
    cursor: grab;
    margin: 2px;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    width: 7px
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
    bottom: 0;
    right: auto
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}